@import variables


.main
    &__container
        margin-top: 4rem
        display: flex 
        flex-wrap: wrap 
        flex-direction: column
        align-content: space-between
        height: 1500px
        gap: 2.5rem
        @media screen and ( max-width: 1160px ) 
            height: 1600px
        @media screen and ( max-width: 920px )
            flex-wrap: nowrap
            align-items: center
            height: 100%


#skills
    @media screen and ( max-width: 920px )
        order: -2


#experience 
    @media screen and ( max-width: 920px )
        order: -1




.text-block
    font-size: 1.6rem
    max-width: 47%
    @media screen and ( max-width: 920px )
        max-width: none 
        width: 420px
    @media screen and ( max-width: 460px )
        width: 97%
    & h4 
        font-size: 1.8rem
        color: $white_font_color
        text-transform: uppercase
        margin-top: 2rem
    & h3 
        font-size: 2.1rem
        text-transform: uppercase
        font-weight: bold
        color: $white_font_color
        border-bottom: 1px solid $white_font_color
        line-height: 1.4
        margin-bottom: 1.2rem
    
    & p 
        color: $white_font_color
        line-height: 1.4
        margin-bottom: 0.8rem
        & span:first-child
            &:first-letter
                text-transform: capitalize

@media print
    body
        font-family: serif
    .header 
        margin: 0
    #main-content
        background: white
        padding: 5px
        box-shadow: none
        gap: 0.2rem
        margin: 0
    #skills
        order: -2 
    #experience 
        order: -1
    .text-block
        max-width: none
        width: 100%
        margin: 0
    .main 
        &__container 
            display: flex
            flex-direction: row
            height: 100%
            gap: 1rem
            margin: 0

    .header
        &__container
            align-items: start
        &__contacts 
            & ul 
                gap: 0 
            & ul li 
                line-height: 1.4
            margin: 0
            padding: 0
            & ul li span:first-child
                color: black 
            & ul li span:last-child, & ul li a
                color: grey
    #download-button 
        display: none
    button 
        display: none
    .greeting 
        width: 50%
        &__circle-image
            display: none
        
    #occupation
        color: black
        display: inline
        width: 100%
        max-width: none
        font-size: 3rem
        & span
            display: inline-block
            color: black
        & p 
            display: inline-block

    .text-block 
        margin-bottom: 0px
        & > *:not(h3)
            margin-left: 6px
        h3
            margin-bottom: 0.3rem
            color: black
            border-bottom: 1px solid grey
        h4
            margin-top: 0
            color: black 
    .work-experience
        margin-left: 7px
        &__item 
            & .inner-white-list > li > span
                display: none
            & .inner-white-list__simple
                padding-left: 0
                margin-left: 12px
            & > *:not(h4)
                margin-left: 6px
            & h4
                display: inline-block
            & p 
                display: inline-block
            & li 
                margin: 0
            & .list-one-row 
                & span:first-child
                    display: none
                & ul 
                    display: flex
                    align-content: space-around
                    gap: 2rem
                & li 
                    display: inline-block
                    &:first-child::after
                        content: ": "

    .list-one-row 
        & li
            margin: 0
            & span
                color: black

    #skills 
        & .list-one-row
            color: black
            & li
                margin: 0
                color: black
                display: inline
                &::after
                    content: ", "
                &:last-child::after
                    content: none
                & span:first-child
                    display: none
                & span 
                    color: black
    #courses 
        & a 
            display: none
        & ul 
            display: flex
            flex-wrap: wrap
        & li 
            flex: 1 0 33.33%
            margin: 0
    #experience
        margin-left: 0
        & ul li 
            margin: 0
            color: black
            & span 
                color: black
    #interests 
        & ul li 
            color: black
            & span
                color: black
    #education 
        & ul li span 
            color: black 
        & li 
            display: block
            margin: 0
            & span:first-child::after
                content: ": "

    #about-me 
        & p 
            color: black
    #languages 
        & ul li span
            color: black
        & li 
            display: block
            margin: 0
            & span:first-child::after
                content: ": "

.list-one-row
    & li 
        margin-bottom: 0.2rem
        display: flex
        color: $white_font_color
        & span 
            line-height: 1.5 
        & span:first-child
            &:first-letter
                text-transform: capitalize
            flex-grow: 1 
            &::after
                flex-grow: 1 

        & span:last-child
            color: $green_font_color
        & a 
            color: $green_font_color
            transition: 0.2s 
            &:first-letter
                text-transform: capitalize
            &:hover 
                color: $white_font_color

.inner-list 
    & li
        color: $white_font_color
        & span:first-child
            &:first-letter
                text-transform: capitalize
            line-height: 1.4
            &::after
                content: ": "
        & ul 
            padding-left: 3rem
            line-height: 1.4
            & li 
                color: $green_font_color
            & li::before
                content: "- "

.inner-white-list
    & li ul li 
        color: $white_font_color
        padding: 0.3rem 0
    &__simple li 
        line-height: 1.3
        color: $white_font_color
        margin-bottom: 0.8rem


.work-experience
    &__item

        padding-bottom: 1rem
        margin-bottom: 1rem
        margin-left: 0.6rem
        border-bottom: 1px solid $light_font_color
        &:last-child
            border-bottom: none
        & p 
            font-size: 1.5rem
            text-indent: 0
            text-align: left
            padding-left: 0
            color: $light_font_color
    


.green-text
    color: $green_font_color 
    font-weight: bold
    &::after
        content: ": "
