@import _fonts
@import _zero
@import _variables
@import _header
@import _main
@import _footer



body 
    height: 100%
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("images/background.webp")
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-color: rgba(0, 0, 0, 1)
html 
    @media screen and ( max-width: 920px )
        font-size: 9px
    font-family: monospace
.wrapper 
    min-height: 100%
    display: flex
    flex-direction: column

main 
    flex: 1 1 auto


.content 
    width: 1140px 
    margin: 20px auto 50px
    background: #1c312ade
    padding: 50px 60px 30px 70px
    box-shadow: 13px 12px 35px rgba(127, 127, 127, 0.15)
    border-radius: 2px
    @media screen and ( max-width: 1160px ) 
        margin: 15px auto
        padding: 40px 58px 30px 50px
        width: 900px
    @media screen and ( max-width: 920px )
        width: 98%
        margin: 15px auto  
        max-width: 600px
    @media screen and ( max-width: 560px )
        padding: 20px 25px 30px 20px
        margin: 0 auto  

.hidden 
    opacity: 0
    visibility: hidden
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out


.fade-in 
    animation: fadeIn 0.5s


.fade-out 
    animation: fadeOut 0.5s


@keyframes fadeIn 
    from 
        opacity: 0
    to
        opacity: 1

@keyframes fadeOut
    from 
        opacity: 1
    to 
        opacity: 0

